[*.cs]

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:none

dotnet_code_quality.ca1801.severity = all:none
